@media (max-width: 990px) {
  .parent {
    grid-template-columns: 50%;
    
    grid-template-areas:
      "item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1 item-1"
      "item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2 item-2"
      "item-3 item-3 item-3 item-3 item-3 item-3 item-4 item-4 item-4 item-4 item-4 item-4"
      "item-5 item-5 item-5 item-5 item-5 item-5 item-5 item-5 item-5 item-5 item-5 item-5"
      "item-6 item-6 item-6 item-6 item-6 item-6 item-6 item-6 item-6 item-6 item-6 item-6"
      "item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7"
      "item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8 item-8"
      "item-9 item-9 item-9 item-9 item-9 item-9 item-9 item-9 item-9 item-9 item-9 item-9"
      "item-10 item-10 item-10 item-10 item-10 item-10 item-10 item-10 item-10 item-10 item-10 item-10"

      ;
      
  }
  .item-9{
padding: 15%;
  }
}
